.threegrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}

@media (min-width:768px){
    .container{
    width: 750px;}
}

@media (min-width: 992px){
    .container{
    width: 970px;
}
}

@media (min-width: 1200px){
    .container{
    width: 1170px;
    }
}